---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Offers from "../components/Offers.astro";
import Tarifas from "../components/Tarifas.astro";
import Testimonials from "../components/Testimonials.astro";
import HeroFooter from "../components/HeroFooter.astro";
---

<Layout title="vitraining">
	<main>
		<Hero
			callToAction="Entrena, mejora, disfruta"
			buttonText="Comienza ahora"
			companyName="vitraining"
		/>
		<About />
		<Offers />
		<Tarifas />
		<Testimonials />
		<HeroFooter callToAction="Contacta con nosotros" />
	</main>
</Layout>
