---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Offers from "../components/Offers.astro";
import About from "../components/About.astro";
import Tarifas from "../components/Tarifas.astro";
import AppDownload from "../components/AppDownload.astro";
import TrialForm from "../components/TrialForm.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import Locations from "../components/Locations.astro";

const pageTitle = "Vitraining | Entrenamiento Personal y Grupos Reducidos";
const pageDescription =
	"Centro de entrenamiento en Santa Brígida y San Mateo. Ofrecemos entrenamiento personal, funcional, pilates y yoga. ¡Pide tu clase de prueba gratis!";
---

<Layout title={pageTitle} description={pageDescription}>
	<main>
		<Hero buttonText="¡COMIENZA AHORA!" companyName="vitraining" />
		<Offers />
		<About />
		<Tarifas />
		<Testimonials />
		<Locations />
		<AppDownload />
		<TrialForm />
		<Footer />
	</main>
</Layout>
