---
import { Image } from "astro:assets";

interface Props {}

const imageURL =
  "mujer-joven-realizando-un-tramo-de-corredores-aislado-en-blanco.png";
---

<section id="about" class="bg-white">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        Sobre <span class="redText">Nosotros</span>
      </h2>
      <p class="mb-4">
        En Vitraining, creemos en un enfoque integral del bienestar. Somos más
        que un gimnasio; somos una comunidad dedicada a ayudarte a alcanzar tus
        metas de salud y fitness. Con entrenadores expertos y un ambiente
        motivador, te ofrecemos las herramientas y el apoyo que necesitas para
        transformar tu cuerpo y tu mente.
      </p>
      <p>
        Nuestra misión es proporcionar entrenamientos de alta calidad,
        personalizados y en grupos reducidos, para garantizar que cada miembro
        reciba la atención que merece. ¡Únete a nosotros y descubre tu máximo
        potencial!
      </p>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src={`/images/${imageURL}`}
        alt="Mujer estirando en entrenamiento Vitraining"
      />
    </div>
  </div>
</section>
