---
import { Image } from "astro:assets";

interface Props {}
---

<section class="py-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-4 items-center">
    <div>
      <h1 class="text-4xl md:text-5xl font-extrabold italic redText pb-6">
        Sobre Vitraining
      </h1>
      <p class="text-white max-w-md text-lg">
        Tu espacio para entrenar, mejorar y disfrutar del deporte. Entrena a tu
        ritmo, con el mejor ambiente y asesoramiento personalizado. ¡Únete a
        nuestra comunidad!<br /><br />
        <b>¡Nuevos servicios y actividades para todos los niveles!</b>
      </p>
    </div>
    <div class="flex gap-4 justify-center flex-wrap">
      <img
        src="/images/chica-en-uniforme-deportivo-rojo-practicando-yoga-en-casa.jpg"
        width="220"
        height="160"
        alt="Yoga y Pilates"
        class="rounded-md object-cover shadow-lg mb-2"
      />
      <img
        src="/images/mujer-joven-realizando-un-tramo-de-corredores-aislado-en-blanco.jpg"
        width="220"
        height="160"
        alt="Estiramientos y movilidad"
        class="rounded-md object-cover shadow-lg mb-2"
      />
    </div>
  </div>
</section>
