---
interface Props {
  callToAction: string;
  buttonText: string;
  companyName: string;
}
const { callToAction, buttonText, companyName } = Astro.props;

const imageURL =
  "mujer-joven-entrenando-con-cuerda-de-batalla-en-cross-fit-gym.jpg";
const bgStyle = {
  backgroundImage: `url('/images/${imageURL}')`,
};
---

<header
  class="bg-cover bg-no-repeat bg-center bg-gray-900 bg-blend-multiply min-h-[70vh] md:min-h-[80vh]"
  style={bgStyle}
>
  <nav
    class="text-white uppercase pt-8 p-4 font-bold flex items-center justify-center gap-2"
  >
    <img
      src="/images/logo-sinfondo.png"
      alt="Vitraining Logo"
      class="h-12 w-auto mr-2 rounded-full bg-white/80 p-1"
    />
    <span
      class="text-3xl font-extrabold tracking-widest italic redText"
      style="letter-spacing:0.1em;">{companyName}</span
    >
  </nav>
  <div
    class="px-4 mx-auto max-w-screen-xl text-center py-16 md:py-32 text-white"
  >
    <h1
      class="font-extrabold text-4xl md:text-6xl tracking-wide mb-4 uppercase italic drop-shadow-lg"
    >
      Entrena, mejora, disfruta
    </h1>
    <p class="mb-6 text-lg md:text-xl">
      Los mejores entrenamientos específicos para alcanzar tus metas.
    </p>
    <button
      class="redBG p-3 px-8 rounded-full uppercase text-white font-bold text-lg shadow-lg hover:scale-105 transition-transform"
      >{buttonText}</button
    >
  </div>
</header>
