---
interface Props {
  text: string;
  imageURL: string;
}
const { text = "", imageURL = "" } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<div
  class="py-48 bg-cover m-4 bg-gray-700 bg-blend-multiply rounded-lg flex items-end justify-center relative min-h-[300px] shadow-lg"
  style={imageStyle}
>
  <div class="absolute inset-0 bg-black/40 rounded-lg"></div>
  <h2
    class="text-white uppercase text-2xl md:text-4xl italic z-10 p-4 relative drop-shadow-lg"
  >
    {text}
  </h2>
</div>
