---
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL: "IMG-20250619-WA0005.jpg",
        offerText: "Entrenamiento personalizado",
    },
    {
        imageURL: "IMG-20250619-WA0006.jpg",
        offerText: "Clases en grupo",
    },
    {
        imageURL: "IMG-20250619-WA0007.jpg",
        offerText: "Asesoría nutricional",
    },
];
---

<section class="py-12 text-center">
    <h1 class="yellowText text-4xl md:text-5xl italic uppercase mb-2">
        ¿Qué te ofrecemos?
    </h1>
    <p class="text-white mb-8">
        Descubre todo lo que puedes lograr con vitraining
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {
            offers.map((offer) => (
                <ImageCard imageURL={offer.imageURL} text={offer.offerText} />
            ))
        }
    </div>
</section>
