---
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL: "nuevos_servicios.jpg",
        offerText:
            "Nuevos servicios: Iniciación al entrenamiento, Pilates y Yoga (Santa Brígida y San Mateo)",
    },
    {
        imageURL: "pilates.jpg",
        offerText:
            "Pilates y Yoga: Reserva tu plaza en la app y abónala el día de la clase. Infórmate: 664.635.129 / 654.635.129",
    },
    {
        imageURL: "yoga.jpg",
        offerText:
            "Clases de suelo pélvico: Miércoles y jueves en Santa Brígida y San Mateo.",
    },
];
---

<section class="py-12 text-center">
    <h1 class="yellowText text-4xl md:text-5xl italic uppercase mb-2">
        Servicios y actividades
    </h1>
    <p class="text-white mb-8">
        Descubre todas las actividades y novedades de Vitraining
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {
            offers.map((offer) => (
                <ImageCard imageURL={offer.imageURL} text={offer.offerText} />
            ))
        }
    </div>
</section>
