<section class="py-12" style="font-family: 'Hanken Grotesk', 'sans-serif';">
    <h1
        class="text-[#ce2c3b] text-4xl md:text-5xl italic uppercase text-center mb-8"
    >
        Tarifas
    </h1>
    <div
        class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden p-6 md:p-8"
    >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-[#ce2c3b] text-2xl font-bold mb-4">
                    Grupos reducidos
                </h2>
                <ul class="text-[#333333] font-semibold space-y-2 text-lg">
                    <li>1 SESIÓN | 8€</li>
                    <li>5 SESIONES/MES | 35€/MES*</li>
                    <li>9 SESIONES/MES | 55€/MES*</li>
                    <li>13 SESIONES/MES | 65€/MES*</li>
                    <li>SESIONES ILIMITADAS | 75€/MES*</li>
                </ul>
            </div>
            <div>
                <h2 class="text-[#ce2c3b] text-2xl font-bold mb-4">
                    Entrenamientos personales
                </h2>
                <ul class="text-[#333333] font-semibold space-y-2 text-lg">
                    <li>1 SESIÓN | 22€</li>
                    <li>1 SESIÓN EN PAREJA | 30€</li>
                    <li>1 SESIÓN A DOMICILIO | 35€</li>
                </ul>
                <h2 class="text-[#ce2c3b] text-2xl font-bold mt-6 mb-4">
                    Trimestrales
                </h2>
                <ul class="text-[#333333] font-semibold space-y-2 text-lg">
                    <li>9 SESIONES/MES | 140€/MES</li>
                    <li>13 SESIONES/MES | 175€/MES</li>
                    <li>SESIONES ILIMITADAS | 205€/MES</li>
                </ul>
            </div>
        </div>
        <p class="mt-8 text-[#ce2c3b] text-base font-bold">
            *5€ de descuento a estudiantes y a socios de B-SPORTY
        </p>
        <p class="text-[#333333] text-sm mt-2">
            Las sesiones se deberán consumir durante el mes en curso. En caso
            contrario, se perderán.
        </p>
    </div>
</section>
