---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Anton&family=Hanken+Grotesk:wght@300;400&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-gray-100 text-gray-800">
		<slot />

		<!-- Botón Scroll-to-Top -->
		<button
			id="to-top-button"
			title="Volver arriba"
			class="fixed bottom-8 right-8 z-50 hidden h-12 w-12 grid place-items-center rounded-full bg-gray-800 text-white shadow-lg transition-colors duration-300 hover:bg-gray-700 focus:outline-none"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
				stroke-width="2.5"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"></path>
			</svg>
		</button>

		<script>
			const toTopButton = document.getElementById("to-top-button");

			if (toTopButton) {
				window.addEventListener("scroll", () => {
					if (
						document.body.scrollTop > 200 ||
						document.documentElement.scrollTop > 200
					) {
						toTopButton.classList.remove("hidden");
					} else {
						toTopButton.classList.add("hidden");
					}
				});

				toTopButton.addEventListener("click", () => {
					window.scrollTo({ top: 0, behavior: "smooth" });
				});
			}
		</script>
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #ce2c3b;
		--color-secondary: #333333;
		--color-background: #ffffff;
		--color-dark-bg: #181818;
		--color-dark-section: #141414;
	}
	body {
		background: var(--color-dark-bg);
		margin: 0;
		padding: 0;
	}
	section {
		background-color: var(--color-dark-section);
	}
	h1,
	h2,
	li {
		font-family: "Anton", "sans-serif";
	}
	p,
	button,
	a,
	small {
		font-family: "Hanken Grotesk", "sans-serif";
	}
	.redBG {
		background-color: var(--color-primary);
	}
	.redText {
		color: var(--color-primary);
	}
	button {
		transition: all 0.2s;
		cursor: pointer;
	}
	img {
		max-width: 100%;
		height: auto;
	}
</style>
