---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Anton&family=Hanken+Grotesk:wght@300;400&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #ce2c3b;
		--color-secondary: #333333;
		--color-background: #ffffff;
		--color-dark-bg: #181818;
		--color-dark-section: #141414;
	}
	body {
		background: var(--color-dark-bg);
		margin: 0;
		padding: 0;
	}
	section {
		background-color: var(--color-dark-section);
	}
	h1,
	h2,
	li {
		font-family: "Anton", "sans-serif";
	}
	p,
	button,
	a,
	small {
		font-family: "Hanken Grotesk", "sans-serif";
	}
	.redBG {
		background-color: var(--color-primary);
	}
	.redText {
		color: var(--color-primary);
	}
	button {
		transition: all 0.2s;
		cursor: pointer;
	}
	img {
		max-width: 100%;
		height: auto;
	}
</style>
